# Conditional Statements and Loops

In [ ]:
# if - else statements 
age = int(input("Enter your age :"))
if age  >= 18:
    print("Your are allow to Vote")
else:
    print("Your are not allow to Vote")

Your are not allow to Vote

In [18]:
# elif
# it allows to check the mulitiple conditions 
age  = 55
if age <= 13  :
    print("You are Child")
elif age <= 20 :
    print("YOur are teenager")
elif 20 <= age <= 50:
    print("your are Young")
else:
    print("Your are old ")

Your are old

In [22]:
# nested loop
# inside one into another 
# find even , odd , negative 
Number = int(input("Enter Your number :"))
if Number >= 0:
    if Number % 2 == 0 :
        print("number is Even")
    else:
     print("Number is odd")
else:
    print("number is negative")

number is negative

In [26]:
# Leap Year check 
Year = int(input("Enter Your Year :"))
if Year % 4 == 0 or Year % 100 == 0 or Year % 400 == 0 :
    print(Year , " This is a leap year")
else:
    print(Year , " This is not a leap year")

1001  This is not a leap year

# Loops

In [1]:
# for Loop
range(4)

range(0, 4)

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [5]:
range(1,10,2) # start , stop , step

range(1, 10, 2)

In [8]:
for i in range(1,10,3):
    print(i)

1
4
7

In [14]:
# String
Name  = "Omkar Phadatare"
for i in Name:
    print(i)

O
m
k
a
r

P
h
a
d
a
t
a
r
e

In [15]:
count = 0
while count < 5 :
    print(count)
    count = count + 1

0
1
2
3
4

In [16]:
count = 0
while count % 2 == 0:
    print(count)
    count = count + 1

0

In [17]:
# loop control statements 
# break
for i in range(10):
    if i == 5:
        break # exit the loop 
    print(i)

0
1
2
3
4

In [18]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
# Pass --> it does nothing

In [19]:
for i in range(10):
    if i%2 == 0:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Nested Loop

In [20]:
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j{j}")

i:0 and j0
i:0 and j1
i:1 and j0
i:1 and j1
i:2 and j0
i:2 and j1

In [25]:
# Calculate the Sum of first N natural numbers
n  = 10
sum = 0
count = 1
while count <= n:
    sum = sum + count
    count += 1
print(sum)

55

In [ ]:
# using For

In [27]:
n = 10
sum = 0
for i in range(11):
    sum = sum + i
print(sum)

55

In [29]:
# prime number b/w 1 to 100
for num in range(101):
    if num>1:
        for i in range(2 , num):
            if num % i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97