# Syntax and Sementics in Python

In [1]:
'''
    Multiline comment 
'''

'\n    Multiline comment \n'

In [4]:
"Single line Comment"

'Single line Comment'

In [5]:
# Case Sensitivity 
name = "Omkar"
Name = "Phadatare"
print(name + " "+ Name)

Omkar Phadatare

In [6]:
# Indentation 
# Indentation --> Define the Structure and Hierarchy of the code  
age = 32
if age > 30:
    print(age)
print(age)

22
22

In [7]:
# line Continuation (\)
total =  1+2+3+4+5+6+7+\
8+9+10
print(total)

55

In [8]:
# Multiple statements on single line 
x = 5 ; y = 10 ; z = x + y
print(z)

15

In [12]:
# Understanding Scmnatics in Python 
age = 32
name = "Omkar"
print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

# Variables

In [13]:
a = 100
# Declaring and assigning variables 
age = 20
height = 5.7
name  = "Omkar"
is_student  = True
print("age :",age)
print("height :",height)
print("name :",name)

age : 20
height : 5.7
name : Omkar

In [14]:
# Naming 
first_name = "Omkar"
last_name = "Phadatare"

In [16]:
# Type Conversion 
age =  25
print(type(age))
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [17]:
age = '25'
age_int = int(age)
print(age_int)
print(type(age_int))

25
<class 'int'>

In [18]:
height = 5.7
print(type(height))
height_int = int(height)
print(height_int)
print(type(height_int))

<class 'float'>
5
<class 'int'>

In [19]:
float(height_int)

5.0

In [21]:
# Dynamic Typing 
# Py allow to program to change the type of a variable as execution
var = 10
print(var , type(var))
var = 3.10
print(var,type(var))
var = "Omkar"
print(var,type(var))

10 <class 'int'>
3.1 <class 'float'>
Omkar <class 'str'>

In [22]:
# Input 
age  = input("Enter Your age :")
print(age)
print(type(age))

22
<class 'str'>

# Data Types

In [24]:
Integer  =  10 
Float  = 2344.1232
Char ='A' # String 
String = "This is My String"
Boolean  = True
print(type(Integer))
print(type(Float))
print(type(Char))
print(type(String))
print(type(Boolean))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [27]:
result  =  Integer + Float
print(result)

2354.1232

In [30]:
result  =  str(Integer) + Char
print(result)

10A

# Operations

In [33]:
## Arithmetics Operator 
a = 10 ; b =23 
print(a + b) # addituon 
print(a - b) # subtraction
print(a * b) # multiplication
print(a / b) # division 
print(a // b) # floor division
print(a ** b) # exponential
print(a % b)  # modulus operation remender

33
-13
230
0.43478260869565216
0
100000000000000000000000
10

In [34]:
# Comparision Operator
a = 10 ; b  = 10
a == b

True

In [35]:
first_name = "omkar" ; last_name = "phadatare"
print(first_name != last_name)

True

In [36]:
# Comparision operator
num1 = 32 ; num2 =33 
print(num1 > num2)
print(num1 >= num2)
print(num1 <= num2)
print(num1 < num2)

False
False
True
True

In [38]:
# Logical Operators
# And , Not , Or
X = True 
Y = False
result = X and Y
print(result)
result = X or Y
print(result)
result = not(X or Y)
print(result)

False
True
False