# Lists

In [85]:
lst  = []
print(type(lst))

<class 'list'>

In [86]:
mixedlist = ["Krishna" , "om", "ram" , "ravi" , 1,12,3,34]
print(mixedlist)

['Krishna', 'om', 'ram', 'ravi', 1, 12, 3, 34]

In [87]:
# Access list
fruits = ["Apples" , "Mango","Tomato", "cherry" , "kiwi"]
fruits[0]

'Apples'

In [88]:
for i in fruits:
    print(i)

Apples
Mango
Tomato
cherry
kiwi

In [89]:
print(fruits[-1])

kiwi

In [90]:
print(fruits[1:])

['Mango', 'Tomato', 'cherry', 'kiwi']

In [91]:
print(fruits[1:3])

['Mango', 'Tomato']

In [92]:
print(fruits[-1:])

['kiwi']

In [93]:
print(fruits)

['Apples', 'Mango', 'Tomato', 'cherry', 'kiwi']

In [94]:
fruits[2] = "perry"
print(fruits[2]) # Change in list items

perry

In [95]:
print(fruits)

['Apples', 'Mango', 'perry', 'cherry', 'kiwi']

In [96]:
fruits = ["Apples" , "Mango","Tomato", "cherry" , "kiwi"]
fruits.append("watermelon") # add item at end

In [97]:
print(fruits)

['Apples', 'Mango', 'Tomato', 'cherry', 'kiwi', 'watermelon']

In [98]:
fruits.insert(1,"Mangow")
print(fruits)

['Apples', 'Mangow', 'Mango', 'Tomato', 'cherry', 'kiwi', 'watermelon']

In [99]:
popped_fruit = fruits.pop()
print(popped_fruit)

watermelon

In [100]:
# Gating index of fruit
fruits.index("Mango")

2

In [101]:
fruits.insert(2,"Mango")
fruits.count("Mango")

2

In [102]:
# Sort as alphabetical
fruits.sort()
print(fruits)

['Apples', 'Mango', 'Mango', 'Mangow', 'Tomato', 'cherry', 'kiwi']

In [103]:
fruits.reverse()
fruits

['kiwi', 'cherry', 'Tomato', 'Mangow', 'Mango', 'Mango', 'Apples']

In [104]:
# Slicing the list
number = [1,2,3,4,5,6,7,8,9,10]
print(number[2:5])
print(number[:5])
print(number[5:])
print(number[::2])
print(number[::-1])
print(number[::-2])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6, 4, 2]

In [105]:
# Iterating over list
for number in number:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [106]:
# Itteration with index
numbers  = range(1,11)
for index,my_number in enumerate(numbers):
    print(index,my_number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [107]:
square_num = []
for i in range(1,11):
    square_num.append(i**2)
print(square_num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [108]:
# List Comprehension 
[x ** 2  for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [109]:
[num for num in range(10) if num%2 == 0]

[0, 2, 4, 6, 8]

In [110]:
a = [1,2,3,4,5,6,7,8]
b = [11,12,13,14,15,16,17,18]
[[i,j] for i in a for j in b]

[[1, 11],
 [1, 12],
 [1, 13],
 [1, 14],
 [1, 15],
 [1, 16],
 [1, 17],
 [1, 18],
 [2, 11],
 [2, 12],
 [2, 13],
 [2, 14],
 [2, 15],
 [2, 16],
 [2, 17],
 [2, 18],
 [3, 11],
 [3, 12],
 [3, 13],
 [3, 14],
 [3, 15],
 [3, 16],
 [3, 17],
 [3, 18],
 [4, 11],
 [4, 12],
 [4, 13],
 [4, 14],
 [4, 15],
 [4, 16],
 [4, 17],
 [4, 18],
 [5, 11],
 [5, 12],
 [5, 13],
 [5, 14],
 [5, 15],
 [5, 16],
 [5, 17],
 [5, 18],
 [6, 11],
 [6, 12],
 [6, 13],
 [6, 14],
 [6, 15],
 [6, 16],
 [6, 17],
 [6, 18],
 [7, 11],
 [7, 12],
 [7, 13],
 [7, 14],
 [7, 15],
 [7, 16],
 [7, 17],
 [7, 18],
 [8, 11],
 [8, 12],
 [8, 13],
 [8, 14],
 [8, 15],
 [8, 16],
 [8, 17],
 [8, 18]]

# Tuples

In [111]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [112]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [113]:
number = tuple([1,2,3,4,5,6])
print(type(number))
print(number)

<class 'tuple'>
(1, 2, 3, 4, 5, 6)

In [114]:
# list <--> tuple Conversion
lst = list((1,2,3,4,5,6))
print(type(lst))

<class 'list'>

In [115]:
mixed_tuple = (1,"hello",3.14,True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [116]:
## Access Tuple elements
number

(1, 2, 3, 4, 5, 6)

In [117]:
print(number[2])

3

In [118]:
print(number[-1])

6

In [119]:
number[::]

(1, 2, 3, 4, 5, 6)

In [120]:
number[::-1]

(6, 5, 4, 3, 2, 1)

In [121]:
# Tuple operations 
new_tuple = number + mixed_tuple # --> Concatination operation 
print(new_tuple)

(1, 2, 3, 4, 5, 6, 1, 'hello', 3.14, True)

In [122]:
mixed_tuple * 3

(1, 'hello', 3.14, True, 1, 'hello', 3.14, True, 1, 'hello', 3.14, True)

In [123]:
number * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [124]:
# Immutable Nature of Tuple
lst = [1,2,3,4,5,6]
print(lst)
lst[1] = "Omkar"
print(lst)

[1, 2, 3, 4, 5, 6]
[1, 'Omkar', 3, 4, 5, 6]

In [125]:
# Tuple is immutable 
tpl = (1,2,32,4,5)
# tpl[1] = "Krishna"
print(tpl)

(1, 2, 32, 4, 5)

In [126]:
# Tuple Method
number

(1, 2, 3, 4, 5, 6)

In [127]:
print(number.count(1)) # it will count the 1 number inside the tuple

1

In [128]:
print(number.index(3)) # what number at index 3

2

In [129]:
# Packing and Unpacking tuple
packing_tuple = 1,23,"hello"
print(packing_tuple) # --> Convert to tpl (packing)

(1, 23, 'hello')

In [130]:
# --> Unpacking 
a,b,c = packing_tuple
print(type(a))
print(type(c)) # --> Convert it into it's own type

<class 'int'>
<class 'str'>

In [131]:
# Unpacking with *
number = (1,2,3,4,5,6)
first,*middle,last = number
print(first)
print(middle) # * at as middel b/w the first and last
print(last)

1
[2, 3, 4, 5]
6

In [132]:
# Nested Tuple
# Neseted List
lst = [[1,23,24,4],[12,123,22,22],["hee",'122',233,33]]
print(lst[0])
print(lst[0][1])
print(lst[2][0])

[1, 23, 24, 4]
23
hee

In [133]:
tpl = ((1,2,234,2),("om",123,2,2),(2,2,2,2))
print(tpl[0][1])

2

# Sets

In [134]:
# Collection of unique terms
# 1.Don't Allow the repetation 
# 2.Perform Mathamatical Operation
My_set = {1,2,3,4,5}
print(type(My_set))

<class 'set'>

In [135]:
print(My_set)

{1, 2, 3, 4, 5}

In [136]:
My_set_1 = {6,7,8,9,10}
print(My_set_1)
my_empty_set = set([1,2,3,4,4,34,5])
print(type(my_empty_set))
print(my_empty_set)

{6, 7, 8, 9, 10}
<class 'set'>
{1, 2, 3, 4, 34, 5}

In [137]:
# Basic Set Operations
# Adding and remove element
my_empty_set.add(6)

In [138]:
print(my_empty_set)

{1, 2, 3, 4, 34, 5, 6}

In [139]:
# remove
my_empty_set.remove(3)
print(my_empty_set)

{1, 2, 4, 34, 5, 6}

In [140]:
# if the element is not present in the set and we try to remove it it will show error
# so we use discard
my_empty_set.discard(1111)
print(my_empty_set)

{1, 2, 4, 34, 5, 6}

In [141]:
# pop --> first element remove and save
removed_element = my_empty_set.pop()
print(removed_element)

1

In [142]:
# clear all element
my_empty_set.clear()
print(my_empty_set)

set()

In [143]:
# set membership test
my_set = {1,2,3,4,5}
print(3 in my_set)
print(11 in my_set)

True
False

In [144]:
# Mathematical Operation
set1 = {1,2,3,4,5,6}
set2 = {9,87,6,5,4,3,21}
# union
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 9, 21, 87}

In [145]:
# intersection
Intersection_set = set1.intersection(set2)
print(Intersection_set)

{3, 4, 5, 6}

In [146]:
set1.intersection_update(set2) # It update the set1 as per intersection of set2 and set1
print(set1)
set1 = {1,2,3,4,5,6}

{3, 4, 5, 6}

In [147]:
# Diffrence
print(set1.difference(set2))
# remove common element b/w set1 and set2
# also same for difference_update

{1, 2}

In [148]:
# Symmetric Diffrence 
# common elements are remove
print(set1.symmetric_difference(set2))

{1, 2, 9, 21, 87}

In [149]:
# Set Method 
set1 = {1,2,3}
set2 = {4,5,6}
# is subset
print(set1.issubset(set2)) # --> set1 is subset of set2 ?
print(set1.issuperset(set2)) # --> set1 is superset of set2>

False
False

In [150]:
# Conversion 
lst = {1,2,3,4,5}
my_set = set(lst)
print(type(my_set))

<class 'set'>

In [151]:
# Calculate the unique word 
text = "Omkar Ajitkumar Phadatare is my name and i am glad to see i"
words = text.split()
# convert it into set
set_words = set(words)
print(set_words)
print(len(set_words))

{'see', 'to', 'Omkar', 'glad', 'my', 'and', 'Phadatare', 'is', 'Ajitkumar', 'am', 'name', 'i'}
12

# Dictionaries

In [152]:
# Unorder Collection of items
# that contain key-vales 
# (Key is Immuatable)
# It include String number and tuples
empty_dic = {}
print(type(empty_dic))

<class 'dict'>

In [153]:
empty_dic = dict()
person = {
    "name": "John Doe",
    "age": 30,
    "is_student": False,
    "skills": ["Python", "JavaScript", "Data Analysis"],
    "address": {
        "street": "123 Main St",
        "city": "New York",
        "zip_code": "10001"
    }
}
student = {"name" : "Omkar Ajitkumar Phadatare",
           "age" : 32,
           "is_student" : True}

# Accessing Dictionary values
print(person["name"])
print(person["skills"][1])
print(person["address"]["city"])

John Doe
JavaScript
New York

In [154]:
print(student["age"])
# Access the values using Get Method

print(person.get("name", "Not Found"))
print(student.get("phone", "Not Found"))
print(student.get("age","Not Found"))

32
John Doe
Not Found
32

In [155]:
# Modify the dict 
# dict is mutable so we can add and delete element
print(student)

{'name': 'Omkar Ajitkumar Phadatare', 'age': 32, 'is_student': True}

In [156]:
student["phone"] = "1234567890"
student["name"] = "Raj Aryan"
print(student)

{'name': 'Raj Aryan', 'age': 32, 'is_student': True, 'phone': '1234567890'}

In [157]:
# delete element and key
del student['name'] 
print(student)

{'age': 32, 'is_student': True, 'phone': '1234567890'}

In [160]:
# dict methods
keys = student.keys()
print(keys)
values = student.values()
print(values)

dict_keys(['age', 'is_student', 'phone'])
dict_values([32, True, '1234567890'])

In [161]:
items = student.items() #--> get all keys and values pair
print(items)

dict_items([('age', 32), ('is_student', True), ('phone', '1234567890')])

In [163]:
# Shallow Copy
student_copy = student
print(student)
print(student_copy)

{'age': 32, 'is_student': True, 'phone': '1234567890'}
{'age': 32, 'is_student': True, 'phone': '1234567890'}

In [164]:
student["name"] = "Omkar Phadatare"

In [165]:
print(student)
print(student_copy) # here as we change in studnet it will itterate in student_copy as well as so

{'age': 32, 'is_student': True, 'phone': '1234567890', 'name': 'Omkar Phadatare'}
{'age': 32, 'is_student': True, 'phone': '1234567890', 'name': 'Omkar Phadatare'}

In [166]:
new_student_copy = student.copy() # shallow copy
# give diffrent location
print(new_student_copy)
print(student)

{'age': 32, 'is_student': True, 'phone': '1234567890', 'name': 'Omkar Phadatare'}
{'age': 32, 'is_student': True, 'phone': '1234567890', 'name': 'Omkar Phadatare'}

In [167]:
student["name"] = "Omkar Ajitkumar Phadatare"
print(student)
print(new_student_copy)

{'age': 32, 'is_student': True, 'phone': '1234567890', 'name': 'Omkar Ajitkumar Phadatare'}
{'age': 32, 'is_student': True, 'phone': '1234567890', 'name': 'Omkar Phadatare'}

In [168]:
# Itterate over dict loops
for keys in student.keys():
    print(keys)

age
is_student
phone
name

In [170]:
for values in student.values():
    print(values)

32
True
1234567890
Omkar Ajitkumar Phadatare

In [173]:
for keys,values in student.items():
    print(f'{keys} == {values}')

age == 32
is_student == True
phone == 1234567890
name == Omkar Ajitkumar Phadatare

In [178]:
# Nested dict
student = {
    "student_1" : {"name":"omkar",
                "age" : 23,
                "Is_student" : True},
    "student_2" : {"name":"ravi",
                "age": 22,
                "Is_student" : False}
}

In [181]:
print(student["student_1"]["name"])
print(student["student_1"]["age"])

omkar
23

In [182]:
student.items()

dict_items([('student_1', {'name': 'omkar', 'age': 23, 'Is_student': True}), ('student_2', {'name': 'ravi', 'age': 22, 'Is_student': False})])

In [185]:
for student_id , studnet_info in student.items():
    
    for key,values in studnet_info.items():
        print(f"{key}:{values}")

name:omkar
age:23
Is_student:True
name:ravi
age:22
Is_student:False

In [186]:
# dict comphrehension
square = {x:x**2 for x in range(5)}

In [187]:
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [188]:
even = {x:x**2 for x in range(5) if x%2==0}

In [189]:
print(even)

{0: 0, 2: 4, 4: 16}

In [190]:
# Use a dict to count the freq of elements in list
numbers = [1,2,2,3,3,4,5,6,7,88,8]
frequency = {}
for number in numbers:
    if number in frequency:
        frequency[number] += 1
    else:
        frequency[number] = 1
print(frequency)

{1: 1, 2: 2, 3: 2, 4: 1, 5: 1, 6: 1, 7: 1, 88: 1, 8: 1}

In [192]:
# Merge 2 dict
dict1 = {"a":1,"b":2}
dict2 = {"c":3,
         "d":6}

In [193]:
mearged = {**dict1,**dict2}

In [194]:
print(mearged)

{'a': 1, 'b': 2, 'c': 3, 'd': 6}

# Real World Application

In [195]:
# to do list
to_do_list = ["analog 1",
              "analog 3",
              "analog 2",
              "analog lab"]
# Add element
to_do_list.append("dsa lab")
to_do_list.append("line 1")
# Remove tast
to_do_list.remove("analog 2")
# check working
if "line 1" in to_do_list:
    print("Don't forget to copy notes")
print("TO do reamining")
for task in to_do_list:
    print(f"-{task}")

Don't forget to copy notes
TO do reamining
-analog 1
-analog 3
-analog lab
-dsa lab
-line 1