# SQL and SQlite 
1. SQL: SQL (Structured Query Language) is a programming language designed for managing relational databases. It provides a set of rules and commands to interact with the database.
2. SQLite: SQLite is a lightweight disk-based database that doesn't require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language. It is designed to be embedded

In [1]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_database.db')
conn

In [ ]:
# Create a cursor to ittrate the database
cursor = conn.cursor()

In [3]:
# Create a table 
cursor.execute('''
    CREATE TABLE if not Exists employees (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER NOT NULL,
        department TEXT NOT NULL)
    ''')

In [4]:
# Commit the changes
conn.commit()

In [5]:
## Insert data into the table
cursor.execute("INSERT INTO employees VALUES (1, 'John Doe', 30, 'IT')")

In [6]:
cursor.execute("INSERT INTO employees VALUES (2, 'Jane Smith', 28, 'HR')")
cursor.execute('''INSERT INTO employees VALUES (3, 'Alice Johnson', 35, 'Finance')''')
conn.commit()

In [7]:
## Query the data

cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()
for row in rows:
    print(row)
# Close the connection

(1, 'John Doe', 30, 'IT')
(2, 'Jane Smith', 28, 'HR')
(3, 'Alice Johnson', 35, 'Finance')

In [8]:
# Update a record

cursor.execute("UPDATE employees SET age = 31 WHERE id = 1")
conn.commit()

# Query the updated data

cursor.execute("SELECT * FROM employees WHERE id = 1")
rows = cursor.fetchall()
for row in rows:
    print(row)
# Delete a record

(1, 'John Doe', 31, 'IT')

In [9]:
# delte data from the table

cursor.execute("DELETE FROM employees WHERE id = 3")
conn.commit()

# Query 

cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()
for row in rows:
    print(row)
# Close the connection

(1, 'John Doe', 31, 'IT')
(2, 'Jane Smith', 28, 'HR')

In [10]:
## Working with Sales data 
conn = sqlite3.connect('sales_data.db')

cursor = conn.cursor()

# Create a table

cursor.execute('''
    CREATE TABLE if not Exists sales (
        id INTEGER PRIMARY KEY,
        product TEXT NOT NULL,
        quantity INTEGER NOT NULL,
        price REAL NOT NULL,
        date TEXT NOT NULL)
    ''')

# Commit the changes

conn.commit()

# Insert data into the table

cursor.execute("INSERT INTO sales VALUES (1, 'Product A', 100, 10.0, '2022-01-01')")
cursor.execute("INSERT INTO sales VALUES (2, 'Product B', 50, 15.0, '2022-01-02')")
cursor.execute("INSERT INTO sales VALUES (3, 'Product C', 150, 20.0, '2022-01-03')")
cursor.execute("INSERT INTO sales VALUES (4, 'Product D', 200, 25.0, '2022-01-04')")
conn.commit()

In [11]:
# query the data

cursor.execute("SELECT * FROM sales")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Product A', 100, 10.0, '2022-01-01')
(2, 'Product B', 50, 15.0, '2022-01-02')
(3, 'Product C', 150, 20.0, '2022-01-03')
(4, 'Product D', 200, 25.0, '2022-01-04')

In [12]:
# Multiple insertion 

data = [(5, 'Product E', 75, 30.0, '2022-01-05'),
        (6, 'Product F', 125, 35.0, '2022-01-06')]

cursor.executemany("INSERT INTO sales VALUES (?,?,?,?,?)", data)
conn.commit()

In [ ]:
# Query the updated data

cursor.execute("SELECT * FROM sales")
rows = cursor.fetchall()
for row in rows:
    print(row)
# Close the connection

(1, 'Product A', 100, 10.0, '2022-01-01')
(2, 'Product B', 50, 15.0, '2022-01-02')
(3, 'Product C', 150, 20.0, '2022-01-03')
(4, 'Product D', 200, 25.0, '2022-01-04')
(5, 'Product E', 75, 30.0, '2022-01-05')
(6, 'Product F', 125, 35.0, '2022-01-06')

In [14]:
# Close the connection

conn.close()