In [1]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('classno.db')
conn

In [2]:
# Create a cursor to ittrate the database
cursor = conn.cursor()

In [17]:
# Create a table to store the class number and name of the student
# Create a table 
cursor.execute('''
    CREATE TABLE if not Exists STUDENT (
        id INTEGER PRIMARY KEY,
        rno TEXT NOT NULL,
        name TEXT NOT NULL,
        slot TEXT NOT NULL)
    ''')

# Commit the changes to the database
conn.commit()

In [18]:
# INCERT DATA INTO THE TABLE
cursor.execute('''
    INSERT INTO STUDENT (id,rno, name, slot) VALUES (?,?, ?, ?)
    ''', ('1', 'BAC','John Doe', 'A1'))

In [19]:
conn.commit()

In [20]:
cursor.execute("SELECT * FROM STUDENT")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'BAC', 'John Doe', 'A1')